# Ignorar o cache do Python
__pycache__/
*.py[cod]
*.pyo
tst.py
trata_dados.py
prog.py
teste.py

# Ignorar ambientes virtuais
venv/
.env/

# Ignorar configurações do VSCode
.vscode/

# Ignorar arquivos temporários de sistema
.DS_Store
Thumbs.db
